.wrapper {
  width: 75vw;
  margin: 1.375rem auto;
  border: 6px solid #000000;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  text-align: center;
  padding-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  margin: 1rem 1.5rem;
}

.title {
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-size: 4.5rem;
  /* letter-spacing: 0.025rem; */
  color: #2d2d2d;
  margin: 0rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.checkbox {
  width: 4rem;
  margin-right: 2rem;
}
.trashcan {
  width: 4rem;
  margin-left: 2rem;
}

/* FORM STYLES */
.description {
  resize: none;
  margin: 0.5rem auto 1.5rem auto;
  width: 60%;
  height: 4rem;
  background: #e2e2e2;
  box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 7px;
  padding: 0.2rem 0.8rem;
  text-align: left;
}

.input_line {
  text-align: left;
  width: 60%;
  margin: 0.5rem auto;
}

.input_line input,
.input_short input {
  margin-left: 0.5rem;
  padding-left: 0.2rem;
  height: 1.3rem;
  width: 50%;
  background: #e2e2e2;
  box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 7px;
}

.input_short {
  width: 12%;
  text-align: center;
}

.submit_button,
.edit_button {
  font-family: 'Bebas Neue';
  font-size: 1.5rem;
  color: white;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  letter-spacing: 0.5em;
}

.submit_button {
  background: #107c3e;
  margin-right: 1.5rem;
}

.edit_button {
  background: #2d2d2d;
}
