/* TASK */
.task_wrapper {
  margin: 1.125rem 0;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
}

.task_item:hover {
  background-color: #2d2d2d4f;
}
.task_item {
  width: 80%;
  background-color: inherit;
  border: none;
  display: inline-block;
  text-align: left;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.checked_icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
.checked_icon img {
  display: inline;
  height: inherit;
  width: inherit;
}

/* SMALL SCREEN */
@media (max-width: 550px) {
}
