.wrapper {
  margin-top: 4rem;
}

.date {
  text-align: center;
  margin-bottom: 4rem;
}

.text_full_date {
  font-size: 1.5rem;
  font-weight: 300;
}

.tasks {
  width: 40vw;
  margin: 0 auto;
}

.task_header {
  text-align: center;
  width: 100%;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  line-height: 3.625rem;
  letter-spacing: 0.25rem;
  color: #2d2d2d;
}

.empty_text {
  margin-top: 2rem;
  font-size: 1.5rem;
  opacity: 0.75;
  text-align: center;
}

/* SMALL SCREEN */
@media (max-width: 550px) {
  .wrapper {
    margin-top: 1rem;
  }

  .date {
    margin-bottom: 2rem;
  }

  .text_full_date {
    font-size: 1rem;
  }

  .tasks {
    width: 80vw;
  }

  .task_header {
    font-size: 1.75rem;
    line-height: 1.5rem;
    letter-spacing: inherit;
  }
}
