/*
  Two major screens: large and task list

  Fonts:
    > font-family: 'Bebas Neue', cursive;
    > font-family: 'Merriweather', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@300;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  width: 100%;
}

#root {
  min-width: 845px;
}

/* Used to display the day */
h2 {
  margin: 1rem;
  font-family: 'Bebas Neue';
  font-size: 6rem;
  line-height: 7.1875rem;
  letter-spacing: 1rem;
  text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.form-input {
  width: 50%;
  margin: 0 0.5rem;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  outline: none;
}

.form-input:focus {
  margin: 0 0.5rem;
  border: none;
  border-radius: 7px;
  background: #e2e2e2;
  padding: 0.2rem 0.4rem;
  color: black;
}

.header {
  width: 100vw;
  position: fixed;
  top: 3.5rem;
}

.logo,
.menu {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #2d2d2d;
  text-decoration: none;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6); */
}

.menu:hover,
.logo:hover {
  background-color: #5c5c5c;
}

.logo {
  margin-left: 3.7rem;
  padding: 0.4rem 0.8rem;
  font-size: 2rem;
}

.menu {
  float: right;
  margin-right: 3.7rem;
  padding: 0.2rem 0.8rem;
  font-size: 1.75rem;
}

/* UTILITY CLASSES */
.center {
  margin-left: 4.2rem;
  margin-right: 4.2rem;
}

.hidden,
.visually-hidden {
  display: none;
}
